#login-box
  %label{:for => "name"}
    Имя
  %input{:type => "text" :name="name" :id="name" :tabindex="0" :autocorrect="off" :spellcheck="false" :autocapitalize="off" :value="" :autofocus="" :placeholder="например, Кирилл"}
  %label{:for => "password"}
    Пароль
  %input{:type => "password" :name="password" :id="password" :tabindex="0" :placeholder="например, ••••••••••••"}